body
{
     background-color: #220606;
}

#header
{
     height: 10vh;
     background-color: #062222;
     padding: 0;
     margin: 0;
     font-size: 4vh;
     color: beige;
     font-weight: 1200;
     display: flex;
     justify-content: center;
     align-items: center;
}

#currentRound
{
     background-color: beige;
     height: 8vh;
     width: 40%;
     border: 5px solid #062222;
     border-radius: 50px;
     margin: auto;
     margin-top: 6vh;

     display: flex;
     justify-content: center;
     align-items: center;
     color: #062222;
     font-size: 6vh;
     font-weight: 500;
}

.move
{
     margin-top: 2vh;
}

.move div
{
     display: flex;
     justify-content: center;
     align-items: center;
}

.move1 div
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 15vh;
     background-color: #062222;
     margin: 1vh;
     border-radius: 25%;;
     margin: 2vh;
}

.move2 div
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 15vh;
     background-color: #062222;
     margin: 1vh;
     border-radius: 25%;;
     margin: 2vh;

}

.move p
{
     color: beige;
     font-size: 3.5vh;
     font-weight: 500;
}

#chaal:active
{
     opacity: 75%;
     scale: 0.93;
}

#double:active
{
     opacity: 75%;
     scale: 0.93;
}

#show:active
{
     opacity: 75%;
     scale: 0.93;
}

#pack:active
{
     opacity: 75%;
     scale: 0.93;
}

.players
{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;

}

#players
{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 13vh;
     height: 10vh;
     width: 100vw;
     /* background-color: azure; */
     margin: 1vh;
     flex-wrap: wrap;
}

#currentBet
{
     height: 1.8vh;
     width: 3vh;
     border-radius: 5px;
     background-color: beige;
     margin-top: 0.7vh;
     
     display: flex;
     justify-content: center;
     align-items: center;
}

#face
{
     height: 4vh;
     width: 4vh;
     border-radius: 50%;
     background-color: beige;
}