body
{
     color: beige;
     background-color: #220606;
     user-select: none;
     font-family: 'Times New Roman', Times, serif;
     height: 100%;
     overflow: hidden;
     overscroll-behavior-y: auto;
}

.pull-to-refresh 
{
    position: fixed;
    top: -50px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.7s ease-in-out;
}

.pull-to-refresh.visible 
{
    top: 0;
}

#loginDiv
{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 9vh;
}

#loginForm input
{
     padding: 0;
     margin: 0;
     height: 8vh;
     width: 90vw;
     text-align: center;
     font-size: 4.0vh;
     color: beige;
     background-color: #062222;
     border-radius: 20px;
     border: 5px solid black;
     font-family: 'Times New Roman', Times, serif;
}

#header
{
     height: 10vh;
     padding: 0;
     margin: 0;
     font-size: 5vh;
     color: beige;
     font-weight: 1200;

     display: flex;
     justify-content: center;
     align-items: center;
}

#displayName
{
     margin: 0;
     height: 8vh;
     width: 90vw;
     text-align: center;
     font-size: 4.0vh;
     color: beige;
     background-color: #062222;
     border-radius: 20px;
     outline: none;
     border-color: #FFDF00;
     box-shadow: 0 0 5px #FFDF00;
     
     display: flex;
     justify-content: center;
     align-items: center;
}

#currentRound
{
     display: flex;
     justify-content: center;
     align-items: center;
     
     height: 7vh;
     width: 100%;
     margin: 0;
     margin-top: 2vh;
}

#currentRoundCumBet
{
     background-color: beige;
     height: 7vh;
     min-width: 30%;
     width: fit-content;
     padding-right: 2vh;
     padding-left: 2vh;
     border-radius: 50px;
     border-right:  0.5vh solid rgb(100, 100, 90);
     border-bottom: 0.5vh solid rgb(100, 100, 90);
     margin-right: 2vh;
     margin-left: 10vh;
     
     display: flex;
     justify-content: center;
     align-items: center;
     
}

#currentRoundMyBet
{
     background-color: beige;
     height: 7vh;
     min-width: 7vh;
     width: fit-content;
     border-radius: 50px;
     border-right:  0.5vh solid rgb(100, 100, 90);
     border-bottom: 0.5vh solid rgb(100, 100, 90);
     margin: 0;
     padding: 0;
     
     display: flex;
     justify-content: center;
     align-items: center;
}

#cumBet
{
     color: #062222;
     font-size:   6vh;
     font-weight: 600;
}

#myBet
{
     color: rgb(65, 62, 62);
     font-size:   5vh;
     font-weight: 600;
     padding: 2vh;
}

#move
{
     margin-top: 1vh;
}

#move div
{
     display: flex;
     justify-content: center;
     align-items: center;
}

#adminMove { 
     display: none;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 10vh;
}

#adminMove div
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 15vh;
     background-color: #062222;
     border-radius: 25%;;
     margin: 2vh;
     border-bottom: 8px solid black;
     border-right: 8px solid black;
}

#adminMove div:active
{
     opacity: 75%;
     scale: 0.93;
}

#chaalBut
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 15vh;
     background-color: #062222;
     border-radius: 25%;;
     margin: 2vh;
     border-bottom: 8px solid black;
     border-right: 8px solid black;
     
}

#chaalBut2
{
     height: 8vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

#chaalBut2 pre
{
     margin: 0;
     margin-top: 4vh;
     margin-bottom: 0.5vh;
     padding: 0;
}

#chaalBut2 p
{
     margin: 0;
     padding: 0;
     font-size: 1vh;
     color: gray;
     opacity: 50%;
}

#doubleBut
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 15vh;
     background-color: #062222;
     border-radius: 25%;;
     margin: 2vh;
     border-bottom: 8px solid black;
     border-right: 8px solid black;
}

#doubleBut2
{
     height: 8vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

#doubleBut2 p
{
     margin: 0;
     padding: 0;
     font-size: 1vh;
     color: gray;
     opacity: 50%;
}

#doubleBut2 pre
{
     margin: 0;
     margin-top: 4vh;
     margin-bottom: 0.5vh;
     padding: 0;
}


.move2 div
{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 15vh;
     width: 15vh;
     background-color: #062222;
     margin: 1vh;
     border-radius: 25%;;
     margin: 2vh;
     border-bottom: 8px solid black;
     border-right: 8px solid black;
}

#adminMove p
{
     color: beige;
     font-size: 3.5vh;
     font-weight: 500;
}

#move p
{
     color: beige;
     font-size: 3.5vh;
     font-weight: 500;
}

#move pre
{
     color: beige;
     font-size: 3.5vh;
     font-weight: 500;
     font-family: 'Times New Roman', Times, serif;
}

#chaalBut:active
{
     opacity: 75%;
     scale: 0.93;
}

#doubleBut:active
{
     opacity: 75%;
     scale: 0.93;
}

#showBut:active
{
     opacity: 75%;
     scale: 0.93;
}

#packBut:active
{
     opacity: 75%;
     scale: 0.93;
}


#players1
{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     margin-top: 5vh;
     color: black;
}

#players2
{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     color: black;
}

.players
{
     color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 10vh;
     width: 100vw;
     margin-top: 2vh;
     margin-bottom: 1vh;
     flex-wrap: wrap;
}

#face
{
     color: black;
     height: 6vh;
     width: 6vh;
     border-radius: 50%;
     background-color: beige;
     border-right: 3px solid black;
     
     background-color: beige;
     font-size: 3.8vh;
     font-weight: 600;
     
     display: flex;
     justify-content: center;
     align-items: center;
}

#currentBet
{
     color: black;
     height: 3vh;
     min-width: 5vh;
     width: fit-content;
     padding-left: 0.3vh;
     padding-right: 0.3vh;
     border-radius: 5px;
     background-color: beige;
     margin-top: 0.9vh;
     font-size: 2.8vh;
     font-weight: 600;
     
     display: flex;
     justify-content: center;
     align-items: center;
}

/* 
#mask
{
     height: 30vh;
     width: 100vw;
     position: absolute;
     top: 64vh;
     background-color: rgba(0, 0, 0, 0.704);
     backdrop-filter: blur(19px);
     box-shadow: 0 0 100px black;
     
     display: flex;
     justify-content: center;
     align-items: center;
     
     color: wheat;
     font-size: 12vw;
     font-weight: 600;
} 

#mask p
{
     padding: 5px;
     padding-left: 10px;
     padding-right: 10px;
}
*/

#finalSequence
{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
} 

#youWin
{
     padding: 0;
     margin: 0;
     margin-top: 24vh;
     height: 8vh;
     width: 100vw;
     text-align: center;
     font-size: 8.0vh;
     color: #e1d47d;
     text-shadow: 0 0 20px #FFDF00;
     font-family: 'Times New Roman', Times, serif;
     display: none;
     align-items: center;
     justify-content: center;
}

#youLose
{
     padding: 0;
     margin: 0;
     margin-top: 24vh;
     height: 8vh;
     width: 100vw;
     text-align: center;
     font-size: 8.0vh;
     color: #9c9494;
     text-shadow: 0 0 20px #989191;
     font-family: 'Times New Roman', Times, serif;
     display: none;
     align-items: center;
     justify-content: center;
}

#finalPot
{
     background-color: beige;
     height: 9vh;
     width: 30%;
     border-radius: 50px;
     border-right:  0.5vh solid rgb(100, 100, 90);
     border-bottom: 0.5vh solid rgb(100, 100, 90);
     margin: auto;
     margin-top: 6.9vh;

     display: none;
     align-items: center;
     justify-content: center;
}

#finalPot p
{
color: #062222;
font-size:   6vh;
font-weight: 600;
}
